* {
  margin: 0px;
  padding: 0px;
}

.contact-form {
  margin: 20px;
  background-color: grey;
  width: 500px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px
}