@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

* {
  margin: 0px;
  padding: 0px;
  user-select: none;
}

:root {
  --text-font: 'Heebo', sans-serif;
  --text-font-alternate: 'PT Sans Narrow', sans-serif;
  --headers-font: 'Fjalla One', sans-serif;
  --dark-purp: #2A0160;
  --semi-dark-purp: #462f63;
  --mid-purp: #d6baf8;
  --light-purp: #C59BFA;
  --nice-purp: #7474E3;
  --grey-purp: #887B9A;
}

body {
  background-color: #F1EAFA;
}

.waves {
  aspect-ratio: 960/540;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 {
  background-image: url('/960x540.svg');
  position: absolute;
  bottom: 0px;
  z-index: -1;
}

@media (max-width: 800px) {
  .waves {
    aspect-ratio: 900/675;
  }

  .layer1 {
    background-image: url('/900x675.svg');
  }
}

@media (max-width: 450px) {
  .waves {
    aspect-ratio: 675/900;
  }

  .layer1 {
    background-image: url('/675x900.svg');
  }
}

h1 {
  font-family: var(--headers-font);
  color: var(--semi-dark-purp);
}

p, button, a {
  font-family: var(--text-font);
  font-weight: bold;
  font-size: 1.03rem;
}

p {
  text-align: center;
  color: var(--semi-dark-purp);
}

button {
  background-color: var(--mid-purp);
  padding: 12.5px;
  border-radius: 20px;
  border: none;
  margin: 5px;
  margin-bottom: 20px;
  cursor: pointer;
  color: var(--semi-dark-purp);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* === OPEN MODAL BUTTON === */ 
.openModalButton {
  will-change: filter;
  transition: filter 300ms;
}

.openModalButton:hover {
  filter: drop-shadow(0 0 2em #6e16d9);
}

/* === DISABLED BUTTON === */
.disabledButton {
  cursor: not-allowed; 
  pointer-events: none; 
}

/* === FILE SELECTOR INPUT TYPES === */
input::file-selector-button {
  color: white;
  background-color: var(--semi-dark-purp);
  border: none;
  padding: 10px;
  border-radius: 7px;
  cursor: pointer;
  margin-right: 15px;
}

/* ===================================== HOMEPAGE ===================================== */

.homeContentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.homeContentContainer h1 {
  margin-top: 200px;
  margin-bottom: 10px;
  font-size: 45px;
}

.homeContentContainer button {
  margin-bottom: 5px;
}

/* ===================================== FORMS ===================================== */

.formTemplate {
  margin: 20px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(57, 5, 72, 0.2), 0 6px 20px 0 rgba(55, 2, 61, 0.19);
  width: 340px;
  height: 420px;
  padding: 15px;
  border-radius: 25px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.formTemplate form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px
}

.formTemplate input {
  background-color: white;
  width: 260px;
  height: 25px;
  font-size: 1.03rem;
  border-radius: 10px;
  padding: 2px;
  border-style: solid;
  text-align: center;
  border-color: var(--grey-purp);
  caret-color: var(--semi-dark-purp);
  color: var(--semi-dark-purp);
  user-select: none;
}

.formTemplate :focus {
  outline: 1px solid var(--semi-dark-purp);
}

input[type='password'] {
  font-family: Verdana;
  letter-spacing: 0.125em;
}

.formTemplate label, .formTemplate input {
  font-family: var(--text-font);
  color: var(--semi-dark-purp);
  font-size: 1.2rem;
}

.formTemplate textarea {
  resize: none;
  height: 150px;
  width: 295px;

  font-family: var(--text-font);
  color: var(--semi-dark-purp);
  font-size: 1.1rem;
  border-color: bold var(--grey-purp);
  caret-color: var(--semi-dark-purp);
  border-radius: 7px;
}

.formTemplate p {
  color: var(--nice-purp);
  margin-top: 5px;
}

.formTemplate a {
  color: var(--dark-purp);
}

.formTemplate input:focus {
  outline: none;
}

.formTemplate h1 {
  margin-bottom: 16px;
  text-decoration: underline;
}

.formTemplate button {
  background-color: var(--semi-dark-purp);
  color: white;
  margin-top: 15px;
}

.formTemplate.updateInfoForm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
}

.formTemplate.updateInfoForm input[type="text"],
.formTemplate.updateInfoForm input[type="date"] {
  width: 260px;
}

.formTemplate.updateInfoForm textarea {
  height: 120px;
}

.formTemplate.updateInfoForm button {
  margin-top: -10px;
}

.formTemplate.deleteAccountForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 420px;
  width: 340px;
}

.formTemplate.deleteAccountForm h1 {
  margin-top: 20px;
}

.formTemplate.deleteAccountForm h3 {
  text-decoration: underline;
  font-weight: bolder;
  font-family: var(--text-font);
  color: var(--semi-dark-purp);
  margin-top: 13px;
  font-size: 21px;
}

.formTemplate.deleteAccountForm p {
  margin-top: 13px;
  font-size: 18px;
}

.formTemplate.deleteAccountForm p:last-of-type {
  margin-top: 0px;
}

.formTemplate.deleteAccountForm button {
  margin-top: 25px;
}

.formTemplate.deleteAccountForm button:hover {
  background-color: #CF453D;
  border: #6B0B05;
}

.passwordSuccess {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.passwordSuccess p {
  margin-top: 10px;
}

@media(max-width: 420px) {
  .formTemplate {
    width: 300px;
  }

  .formTemplate.updateInfoForm {
    width: 280px;
  }

  .formTemplate.updateInfoForm form {
    gap: 1px;
  }

  .formTemplate.updateInfoForm textarea {
    width: 270px;
  }

  .formTemplate.updateInfoForm button {
    margin-top: 4px;
  }

  .formTemplate.updateInfoForm h1 {
    font-size: 25px;
  }

  .formTemplate.deleteAccountForm {
    width: 290px;
  }
}

/* ===================================== MODAL COMPONENT ===================================== */

.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(45, 30, 74, .7);
  z-index: 2;
}

.modalContentContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
}

.modalCloseButton {
  z-index: 6;
  padding: 2px;
  font-size: 40px;
  position: fixed;
  top: -1%;
  right: 2%;
  cursor: pointer;
  color: var(--dark-purp);
}

.modalCloseButton:hover {
  color: var(--mid-purp);
}

@media(max-width: 450px) {
  .modalCloseButton {
    color: var(--mid-purp);
  }
}

/* ===================================== LOADER COMPONENT ===================================== */

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

.loader div {
  position: absolute;
  border: 4px solid white;
  border-radius: 50%;
  animation: ripple 1s ease-out infinite;
}

.loader div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    width: 30px;
    height: 30px;
    opacity: 0;
  }
}

/* ===================================== LRG LOADER ===================================== */

.largeLoader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
}

.largeLoader div {
  position: absolute;
  border: 4px solid var(--mid-purp);
  border-radius: 50%;
  animation: largeRipple 2s ease-out infinite;
}

.largeLoader div:nth-child(2) {
  animation-delay: -0.5s;
}

.largeLoaderPTag {
  margin-top: 20px;
  font-size: 20px;
}

@keyframes largeRipple {
  0% {
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    width: 200px;
    height: 200px;
    opacity: 0;
  }
}

/* ===================================== FEED PAGE ===================================== */

.feedPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.feedContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

/* ===================================== FEED NAVBAR COMPONENT ===================================== */

.feedNavBar {
  width: 100%;
  height: 125px;
  background-image: linear-gradient(to right, rgb(70, 47, 99, 0.9), rgb(214, 186, 248, 0.8));
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbarProfilePicture {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: absolute;
  top: 13px;
  right: 20px;
  cursor: pointer;
}

.feedNavBar button {
  position: absolute;
  left: 10px;
  top: 10px;
  background-color: var(--mid-purp);
}

.feedNavBar button:hover  {
  filter: drop-shadow(0 0 2em var(--grey-purp));
}

/* ===================================== CREATE POST BUTTON COMPONENT ===================================== */

.createPostBtnImg {
  height: 60px;
  width: 75px;
}

/* ===================================== POST COMPONENT ===================================== */

/* Post container */
.postContainer {
  margin-bottom: 20px;
  background-color: white;
  position: relative;
  z-index: 0;
}

.postContainer:first-child {
  margin-top: 15px;
}

/* Post Header */
.postHeaderContainer {
  display: flex;
  align-items: center;
  width: 100%;
}

.postHeaderContainer .profilePicture {
  height: 50px;
  width: 50px;
  margin: 7px;
  border-radius: 50%;
  cursor: pointer;
}

.postHeaderContainer .postUsername {
  text-decoration: underline;
  cursor: pointer;
  font-size: 22px;
  color: var(--semi-dark-purp);
  margin-right: 200px;

  position: absolute;
  left: 65px;
  top: 16px;
}

.postHeaderContainer .postUsername:hover {
 color: var(--nice-purp);
}

.postHeaderContainer .postDate {
  font-size: 15px;
  margin-right: 10px;
  color: var(--semi-dark-purp);
  margin-left: auto;
}

/*  Post img  */
.postImgContainer {
  height: 550px;
  width: 430px;
}

.feedContainer img {
  height: 98%;
  width: 98%;
  object-fit: cover;
  margin-top: 3px;
  margin-bottom: 3px;
  background-color: var(--mid-purp);
}

/* Post footer */
.postFooterContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.postFooterContainer p, a {
  margin-left: 10px;
}

.postLikeCount {
  font-size: 19px;
  color: var(--nice-purp);
}

.postUsernameLink {
  font-size: 21px;
  cursor: pointer;
  color: var(--semi-dark-purp);
}

.postUsernameLink:hover {
  color: var(--nice-purp);
  text-decoration: underline;
}

.postFooterContainer .postLine {
  width: 98%;
  height: 1px;
  background-image: linear-gradient(to right, rgba(70, 47, 99, 0.9), rgba(214, 186, 248, 0.9));
  align-self: center;
  margin-top: 2px;
}

.postCaption {
  color: var(--semi-dark-purp);
  margin-bottom: 5px;
  margin-top: 5px;
  max-width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.heartIcon {
  height: 60px;
  width: 45px;
  cursor: pointer;
  color: var(--semi-dark-purp);
  position: absolute;
  bottom: 42px;
  right: 18px
}

@media(max-width: 450px) {
  .feedNavBar {
    height: 110px;
  }
  
  .navbarProfilePicture {
    height: 85px;
    width: 85px;
    top: 11px;
    right: 10px;
  }
  
  .feedNavBar button {
    top: 15px;
  }
  
  .createPostBtnImg {
    height: 45px;
    width: 60px;
  }

  .postHeaderContainer .profilePicture {
    height: 40px;
    width: 40px;
    margin: 7px;
  }

  .postHeaderContainer .postUsername {
    left: 58px;
    top: 13px;
    font-size: 20px;
  }

  .postHeaderContainer .postDate {
    font-size: 13px;
  }

  .postImgContainer {
    height: 470px;
    width: 350px;
  }

  .postLikeCount {
    font-size: 16px;
  }

  .postUsernameLink {
    font-size: 19px;
  }

  .heartIcon {
    height: 53px;
    width: 38px;
    bottom: 48px;
    right: 12px
  }

  .postCaption {
    font-size: 16px;
  }
}

/* ===================================== USER PAGE ===================================== */

.userPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* ===================================== USER PAGE HEADER COMPONENT ===================================== */

.userHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-image: linear-gradient(to left, rgb(90, 61, 129), rgb(215, 192, 242));
  position: sticky;
  top: 0px;
  width: 100%;
  height: 280px;
  overflow: hidden;
  z-index: 1;
}

.leftSide {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  margin-left: 30px;
  margin-top: 15px;
  margin-right: 30px;
  position: relative;
}

.leftSide img {
  border-radius: 50%;
  height: 250px;
  width: 250px;
}

.leftSide button {
  position: absolute;
  right: 0;
  bottom: -15px;
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.updateProfilePictureBtn {
  padding: 0px;
  height: 40px;
  width: 40px;
}

.middle {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 500px;
  margin-right: 10px;
}

.middleTop {
  display: flex;
  flex-direction: column;
  width: 370px;
  position: relative;
  width: 100%;
  margin-bottom: 5px;
}

.middleTop h1 {
  font-size: 45px;
  margin-bottom: 10px;
  align-self: flex-start;
}

.middleTop p {
  font-size: 20px;
  color: var(--semi-dark-purp);
  align-self: flex-start;
  margin-top: 5px;
  margin-bottom: 2px;
  max-width: 400px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.middleTop button {
  height: 50px;
  width: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  align-self: flex-end;
  position: absolute;
}

.userHeaderLine {
  height: 3px;
  width: 100%;
  background-image: linear-gradient(to right, rgba(70, 47, 99, 0.8), rgba(214, 186, 248, 0.8));
  margin-top: 5px;
}

.middleMiddle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 50px;
  width: 100%;
  margin-top: 10px;
}

.posts, .followers, .following {
  border: 2px solid #462f63;
  border-radius: 7px;
  padding: 10px;
}

.followers:hover, .following:hover {
  background-color: var(--mid-purp);
  cursor: pointer;
  opacity: 0.7;
}

.middleMiddle p {
  color: var(--semi-dark-purp);
  font-size: 20px;
  margin: 0px;
}

.rightSide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  margin-left: 20px;
  margin-right: 5px;
}

.rightSide a {
  padding: 12px;
  margin: 0;
  margin-bottom: 5px;
  border-radius: 20px;
  background-color: var(--mid-purp);
  color: var(--semi-dark-purp);
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightSide a:visited {
  color: var(--semi-dark-purp);
}

.rightSide button {
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightSide button:last-child {
  margin-top: 10px;
}

.rightSide button:hover {
  filter: drop-shadow(0 0 2em var(--mid-purp));
}

.cogIcon, .homeIcon {
  height: 30px;
  width: 30px;
}

@media(max-width: 1000px) {
  .userHeader {
    height: 260px;
  }

  .middle {
    width: 500px;
    margin-right: 15px;
  }

  .leftSide {
    margin-left: 20px;
    margin-top: 15px;
    margin-right: 20px;
  }
  
  .leftSide img {
    margin-top: 7px;
    height: 225px;
    width: 225px;
  }
  
  .leftSide button {
    right: 0;
    bottom: -15px;
    padding: 7px;
  }

  .middleTop h1 {
    font-size: 35px;
    margin-bottom: 7px;
  }

  .middleTop button {
    height: 40px;
    width: 68px;
    font-size: 13px;
  }

  .middleTop p {
    font-size: 18px;
    max-width: 300px;
  }

  .middleMiddle {
    gap: 30px;
  }

  .posts, .followers, .following {
    padding: 5px;
  }

  .middleMiddle p {
    font-size: 18px;
  }

  .rightSide {
    margin-left: 7px;
  }

  .rightSide a {
    margin-bottom: 3px;
  }

  .rightSide button:last-child {
    margin-top: 20px;
    margin-top: 10px;
  }

  .rightSide button:last-child img {
    height: 50px;
    width: 55px;
  }

  .cogIcon, .homeIcon {
    height: 25px;
    width: 25px;
  }
}

@media(max-width: 780px) {
  .userHeader {
    height: 260px;
  }

  .middle {
    width: 400px;
    margin-right: 15px;
  }

  .leftSide {
    margin-left: 30px;
  }
  
  .leftSide img {
    margin-top: 10px;
    height: 200px;
    width: 200px;
  }
  
  .leftSide button {
    right: 0;
    bottom: -25px;
    padding: 7px;
  }

  .updateProfilePictureBtn {
    height: 35px;
    width: 35px;
  }

  .middleTop h1 {
    font-size: 32px;
    margin-bottom: 4px;
  }

  .middleTop p {
    font-size: 17px;
    max-width: 290px;
  }

  .middleTop button {
    margin: 0;
  }

  .middleMiddle {
    gap: 5px;
  }

  .posts, .followers, .following {
    padding: 4px;
  }

  .middleMiddle p {
    font-size: 17px;
  }

  .rightSide {
    margin-left: 7px;
    margin-right: 10px;
  }

  .rightSide button:last-child {
    margin-top: 25px;
  }

  .rightSide button:last-child img {
    height: 42px;
    width: 47px;
  }

  .cogIcon, .homeIcon {
    height: 22px;
    width: 22px;
  }
}

@media(max-width: 570px) {
  .userHeader {
    height: 220px;
    overflow: visible;
  }

  .middle {
    width: 350px;
    margin-right: 15px;
  }

  .leftSide {
    margin-left: 20px;
  }
  
  .leftSide img {
    margin-top: 10px;
    height: 170px;
    width: 170px;
  }
  
  .leftSide button {
    right: 0;
    bottom: -25px;
    padding: 7px;
  }

  .updateProfilePictureBtn {
    height: 35px;
    width: 35px;
  }

  .posts, .followers, .following {
    padding: 3px;
  }

  .rightSide {
    position: absolute;
    top: 225px;
    left: 0;
    height: fit-content;
  }

  .rightSide a {
    order: 3;
    align-self: flex-start;
    margin-left: 5px;
  }

  .rightSide button:first-child {
    order: 1;
    align-self: flex-start;
    margin-top: 2px;
    width: 50px;
    height: 50px;
    margin: 2px;
  }

  .rightSide button:first-of-type {
    order: 2;
    align-self: flex-start;
  }

  .rightSide button:hover {
    filter: drop-shadow(0 0 2em #6e16d9);
  }

  .rightSide button:last-child img {
    height: 30px;
    width: 35px;
  }

  .cogIcon, .homeIcon {
    height: 20px;
    width: 20px;
  }
}

@media (max-width: 450px) {
  .userHeader {
    height: 200px;
  }

  .middle {
    width: 300px;
    margin-right: 15px;
  }

  .leftSide {
    margin-left: 10px;
  }
  
  .leftSide img {
    height: 150px;
    width: 150px;
  }

  .updateProfilePictureBtn {
    height: 30px;
    width: 30px;
  }

  .middleTop h1 {
    font-size: 25px;
    margin-bottom: 3px;
  }

  .middleTop p {
    font-size: 14px;
    max-width: 290px;
  }

  .middleTop button {
    height: 32px;
    width: 55px;
    font-size: 11px;
  }

  .middleMiddle {
    gap: 1px;
  }

  .posts, .followers, .following {
    padding: 2px;
  }

  .middleMiddle p {
    font-size: 11px;
  }

  .rightSide {
    position: absolute;
    top: 205px;
    left: -3px;
  }
}

@media(max-width: 380px) {
  .middleTop h1 {
    font-size: 23px;
    margin-bottom: 3px;
  }

  .middleTop p {
    font-size: 13px;
    max-width: 270px;
  }

  .middleTop button {
    height: 30px;
    width: 52px;
    font-size: 10px;
  }
}

/* ==== FOLLOW BUTTON COMPONENT ==== */

.unfollowButton {
  background-color: var(--semi-dark-purp);
  color: var(--mid-purp);
}

.followButton:hover {
  filter: drop-shadow(0 0 2em var(--mid-purp));
  background-color: var(--semi-dark-purp);
  color: var(--mid-purp);
}

.unfollowButton:hover {
  filter: drop-shadow(0 0 2em var(--mid-purp));
  background-color: var(--mid-purp);
  color: var(--semi-dark-purp);
}

/* ==== USER LIST COMPONENT ==== */

.userListUser {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  overflow: scroll;
}

.userListUser a {
  font-size: 20px;
}

.userListUser img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 7px;
}

.userListLine {
  height: 1px;
  width: 300px;
  background-image: linear-gradient(to right, rgba(70, 47, 99, 0.8), rgba(214, 186, 248, 0.8));
  margin-top: 10px;
}

/* ===================================== USER PAGE GALLERY COMPONENT ===================================== */

.userPageGallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
  top: 10px;
  padding-bottom: 40px;
}

.galleryPostContainer {
  position: relative;
  height: 400px;
  width: 300px;
  margin: 5px;
  background-color: var(--mid-purp);
  cursor: pointer;
}

.galleryPostContainer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-position: center;
}

.galleryIconsContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgba(214, 186, 248, 0.4);
  transform: translate(-50%, -50%);
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  transition: opacity 0.3s ease;
}

.galleryPostContainer:hover .galleryIconsContainer {
  opacity: 1;
}

.galleryLikesContainer {
  margin-right: 10px;
}

.galleryCommentsContainer {
  margin-left:10px
}

.galleryLikesContainer p, .galleryCommentsContainer p {
  color: var(--semi-dark-purp);
  font-size: 25px;
}

.galleryIcon {
  color: var(--semi-dark-purp);
  height: 35px;
  width: 35px;
  margin-bottom: 2px;
}

@media(max-width: 930px) {
  .galleryPostContainer {
    width: 250px;
  }

  .galleryIconsContainer {
    width: 250px;
  }
}

@media(max-width: 570px) {
  .galleryPostContainer {
    width: 340px;
    height: 490px;
    margin-bottom: 15px;
  }

  .galleryIconsContainer {
    width: 340px;
    height: 490px;
  }
}

@media(max-width: 450px) {
  .galleryPostContainer {
    width: 300px;
    height: 460px;
  }

  .galleryIconsContainer {
    width: 300px;
    height: 460px;
    opacity: 1;
  }
}

@media(max-width: 800px) {
  .userPageGallery {
    top: 10px;
  }
}

/* ===================================== SETTINGS LIST COMPONENT ===================================== */

.settingsList {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.settingsList p {
  font-size: 25px;
  color: var(--semi-dark-purp);
}

.settingsFirstDiv {
  margin-top: 30px;
}

.settingsList p:hover {
  color: var(--mid-purp);
  cursor: pointer;
}

.line {
  height: 2px;
  width: 95%;
  background-image: linear-gradient(to right, rgba(70, 47, 99, 0.8), rgba(214, 186, 248, 0.8));
}

.settingsList button {
  margin-top: 15px;
}

/* === LOG OUT BUTTON COMPONENT === */

.logOutButton:hover {
  color: var(--semi-dark-purp);
  background-color: var(--mid-purp);
}

/* ===================================== USER PAGE MODAL COMPONENT ===================================== */

.selectedPostModal {
  position: relative;
  height: 600px;
  width: 800px;
  background-color: white;
}

.selectedPostImageContainer {
  height: 100%;
  width: 60%;
  position: absolute;
  left: 0;
  background-color: var(--mid-purp);
}

.selectedPostImageContainer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.selectedPostcontentContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: absolute;
  right: 0;
  height: 100%;
  width: 40%;
}

.selectedPostcontentContainer p {
  margin-left: 10px;
}

.selectedPostHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.selectedPostHeader .bin {
  margin-right: 10px;
  margin-top: 10px;
  height: 30px;
  width: 30px;
  color: var(--semi-dark-purp);
  background-color: var(--mid-purp);
  border-radius: 100%;
  opacity: 0.9;
  padding: 5px;
  cursor: pointer;
}

.selectedPostHeader .bin:hover {
  color: var(--mid-purp);
  background-color: var(--semi-dark-purp);
}

.selectedPostHeader p {
  margin-left: 10px;
  margin-top: 10px;
  font-size: 22px;
  text-decoration: underline;
  color: var(--semi-dark-purp);
}

.selectedPostCaption {
  text-align: left;
  max-height: 100px;
  overflow: scroll;
  margin-right: 5px;
  margin-bottom: 10px;
  color: var(--nice-purp);
}

.selectedPostComments {
  font-size: 18px;
  font-weight: bolder;
  color: var(--semi-dark-purp);
}

.selectedPostLine {
  width: 98%;
  height: 3px;
  background-image: linear-gradient(to right, rgba(70, 47, 99, 0.9), rgba(214, 186, 248, 0.9));
  align-self: center;
  margin-top: 2px;
}

.commentsContainer {
  margin-top: 5px;
  height: 450px;
  width: 99%;
  margin-left: 2px;
  overflow: scroll;
}

.selectedPostForm {
 display: flex;
 justify-content: center;
 align-items: center;
 position: relative;
}

.selectedPostForm textarea {
  resize: none;
  height: 50px;
  width: 230px;
  font-family: var(--text-font);
  color: var(--semi-dark-purp);
  font-size: 1rem;
  border: solid 2px var(--grey-purp);
  caret-color: var(--semi-dark-purp);
  border-radius: 7px;
  margin: 3px;
  margin-top: 5px;
}

.selectedPostForm textarea::selection {
  background: var(--mid-purp);
}

.selectedPostForm :focus {
  outline: 1px solid var(--grey-purp);
}

.commentButton, .addCommentLoadingBtn {
  height: 50px;
  width: 75px;
  font-size: 12px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1px;
  border-radius: 7px;
  margin-top: 2px;
}

.commentButton:hover {
  background-color: var(--semi-dark-purp);
  color: var(--mid-purp);
}

.noCommentsContainer p {
 color: var(--grey-purp);
 font-size: 15px;
}

.noCommentsContainer p:first-child {
  margin-top: 150px;
 }

.commentError {
  font-weight: bolder;
  color: var(--nice-purp);
}

/* === COMMENT COMPONENT ==== */

.commentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.commentHeaderContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.commentHeaderContainer img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-left: 5px;
}

.commentHeaderContainer a {
  font-size: 18px;
  color: var(--semi-dark-purp);
}

.commentHeaderContainer a:visited {
  color: var(--semi-dark-purp);
}

.commentHeaderContainer a:hover{
  color: var(--mid-purp);
}

.commentHeaderContainer p {
  font-size: 11px;
  margin-left: auto;
  padding: 5px;
  color: var(--grey-purp);
}

.commentCaptionContainer {
  display: flex;
  width: 100%;
  margin-top: 7px;
  margin-bottom: 3px;
}

.commentCaptionContainer p {
  color: var(--nice-purp);
  text-align: left;
}

.commentDivider {
  height: 1px;
  width: 99%;
  background-image: linear-gradient(to right, rgba(70, 47, 99, 0.8), rgba(214, 186, 248, 0.8));
  margin-bottom: 5px;
}

@media (max-width: 780px) {
  .selectedPostModal {
    height: 590px;
    width: 680px;
  }
  
  .selectedPostImageContainer {
    width: 58%;
  }
  
  .selectedPostcontentContainer {
    width: 42%;
  }
  
  .selectedPostHeader .bin {
    height: 26px;
    width: 26px;
  }
  
  .selectedPostHeader p {
    font-size: 21px;
  }
  
  .selectedPostCaption {
    max-height: 120px;
    font-size: 15px
  }
  
  .selectedPostComments {
    font-size: 17px;
  }
  
  .selectedPostForm {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
  }
  
  .selectedPostForm textarea {
    height: 50px;
    width: 200px;
  }
  
  .commentButton, .addCommentLoadingBtn {
    height: 45px;
    width: 70px;
    font-size: 10px;
    margin-left: 1px;
  }

  .commentHeaderContainer img {
    height: 35px;
    width: 35px;
  }
  
  .commentHeaderContainer a {
    font-size: 16px;
    color: var(--semi-dark-purp);
  }

  .commentHeaderContainer p {
    font-size: 10px;
  }
  
  .commentCaptionContainer p {
    font-size: 15px;
  }

  .commentError {
    font-size: 14px;
  }
}

@media (max-width: 635px) {
  .selectedPostModal {
    height: 645px;
    width: 440px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .selectedPostImageContainer {
    height: 73%;
    width: 100%;
    top: 0;
  }

  .selectedPostcontentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    bottom: 0;
    height: 27%;
    width: 100%;
  }

  .selectedPostHeader {
    width: 100%;
    background-color: white;
    margin-bottom: 0px;
  }

  .selectedPostHeader .bin {
    height: 22px;
    width: 22px;
    margin-top: 4px;
  }
  
  .selectedPostHeader p {
    font-size: 19px;
    margin-top: 0px;
  }
  
  .selectedPostCaption {
    margin-bottom: 2px;
    margin-top: 2px;
    height: 160px;
    align-self: flex-start;
  }
  
  .noCommentsContainer p {
    font-size: 12px;
  }
   
  .noCommentsContainer p:first-child {
    margin-top: 7px
  }

  .selectedPostComments {
    font-size: 15px;
    font-weight: bolder;
    align-self: flex-start;
  }

  .commentHeaderContainer img {
    height: 28px;
    width: 28px;
  }
  
  .commentHeaderContainer a {
    font-size: 15px;
    color: var(--semi-dark-purp);
  }

  .commentHeaderContainer p {
    font-size: 11px;
  }
  
  .commentCaptionContainer p {
    font-size: 14px;
  }

  .selectedPostLine {
    height: 10px;
  }

  .selectedPostLine:last-of-type {
    display: none;
  }

  .selectedPostForm {
    width: 100%;
    background-color: white;
  }

  .selectedPostForm textarea {
    height: 25px;
    width: 100%;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  
  .commentButton, .addCommentLoadingBtn {
    height: 30px;
    width: 65px;
    margin-left: 0px;
    margin-bottom: 3px;
    margin-right: 3px;
    border-radius: 7px;
  }

  .commentError {
    font-size: 13px;
  }
}

@media (max-width: 450px) {
  .selectedPostModal {
    height: 600px;
    width: 350px;
  }

  .selectedPostHeader .bin {
    height: 20px;
    width: 20px;
    margin-top: 3px;
    margin-right: 3px;
  }
  
  .selectedPostHeader p {
    font-size: 17px;
    margin-top: 0px;
  }
  
  .selectedPostCaption {
    margin-bottom: 2px;
    height: 300px;
    width: 340px;
    margin-top: 0px;
  }

  .selectedPostComments {
    margin-top: 1px;
  }

  .commentError {
    font-size: 11px;
  }
}

/* === CONFIRM DELETE POST MODAL === */ 

.confirmModalContentContainer {
  width: 200px;
  height: 180px;
  border-radius: 25%;
  background-color: var(--semi-dark-purp);
  opacity: 0.95;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.confirmModalContentContainer p {
  color: white;
  font-size: 20px;
  margin-bottom: 18px;
}

.confirmModalContentContainer button {
  margin: 2px;
}

.confirmModalContentContainer button:first-of-type {
  margin-bottom: 10px;
}

.confirmDeleteModal .modalCloseButton {
  display: none;
}

/*  === On DELETE of a POST === */
.deletePostContent {
  height: 600px;
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
}

@media (max-width: 780px) {
  .deletePostContent {
    height: 590px;
    width: 680px;
  }
}

@media (max-width: 635px) {
  .deletePostContent {
    height: 645px;
    width: 440px;
  }

  .deletePostContent h1 {
    font-size: 25px;
  }
}

@media (max-width: 450px) {
  .deletePostContent {
    height: 600px;
    width: 350px;
  }

  .deletePostContent h1 {
    font-size: 22px;
  }
}

/* ===================================== Not Found Page (404) ===================================== */

.notFoundPageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.iconContainer {
  height: 200px;
  width: 175px;
  margin-right: 30px;
}

.ghostIcon {
  height: 100%;
  width: 100%;
  color: var(--semi-dark-purp);
}

.notFoundContentContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 200px
}

.notFoundLine {
  width: 3px;
  height: 50vh;
  background-image: linear-gradient(to bottom, rgba(70, 47, 99, 0.9), rgba(214, 186, 248, 0.9));
  margin-right: 30px;
}

.notFoundContentContainer h1 {
  font-size: 65px;
}

.notFoundContentContainer p {
  margin-left: 5px;
  color: var(--nice-purp);
  font-size: 20px;
}

.notFoundContentContainer a {
  margin-left: 5px;
  font-size: 17px;
  color: var(--nice-purp);
}

.notFoundContentContainer a:visited {
  margin-left: 5px;
  color: var(--dark-purp);
  font-size: 17px;
}

@media(max-width: 800px) {
  .iconContainer {
    height: 175px;
    width: 150px;
  }

  .notFoundContentContainer h1 {
    font-size: 60px;
  }

  .notFoundContentContainer p {
    font-size: 20px;
  }
}

@media(max-width: 450px) {

  .notFoundPageContainer {
    flex-direction: column;
  }

  .notFoundContentContainer {
    align-items: center;
  }

  .iconContainer {
    height: 140px;
    width: 125px;
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .notFoundLine {
    width: 85vw;
    height: 3px;
    background-image: linear-gradient(to right, rgba(70, 47, 99, 0.9), rgba(214, 186, 248, 0.9));
    align-self: center;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .notFoundContentContainer h1 {
    font-size: 50px;
    margin-bottom: 3px;
  }

  .notFoundContentContainer p {
    font-size: 19px;
  }
}

/* ===================================== PRIVATE PAGE (NOT LOGGED IN) ===================================== */

.privatePageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.privateIconContainer {
  height: 300px;
  width: 250px;
}

.lockedIcon {
  height: 100%;
  width: 100%;
  color: var(--semi-dark-purp);
}

.privateContentContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 400px;
}

.privateContentContainer h1 {
  font-size: 40px;
}

.privateContentContainer p {
  margin-left: 5px;
  color: var(--nice-purp);
  font-size: 18px;
}

.privateContentContainer button {
  margin: 0px;
  margin-left: 5px;
  background: none;
  border: none;
  padding: 0px;
  text-decoration: underline;
}

@media(max-width: 800px) {
  .privateIconContainer {
    height: 225px;
    width: 200px;
  }

  .privateContentContainer h1 {
    font-size: 38px;
  }

  .privateContentContainer p {
    font-size: 17px;
  }
}

@media(max-width: 440px) {
  .privatePageContainer {
    flex-direction: column;
  }

  .privateContentContainer {
    margin-top: 15px;
    align-items: center;
  }

 .privateIconContainer {
    height: 175px;
    width: 150px;
  }

  .privateContentContainer h1 {
    font-size: 35px;
  }

  .privateContentContainer p {
    font-size: 18px;
  }
}
