@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

* {
  margin: 0px;
  padding: 0px;
  user-select: none;
}

:root {
  --text-font-smart: 'Playfair Display', serif;
  --text-font: 'Heebo', sans-serif;
  --text-font-alternate: 'PT Sans Narrow', sans-serif;
  --headers-font: 'Fjalla One', sans-serif;

  --dark-purp: #2A0160;
  --semi-dark-purp: #462f63;
  --mid-purp: #d6baf8;
  --light-purp: #C59BFA;
  --nice-purp: #7474E3;
  --grey-purp: #887B9A;
  --very-light-purp: #F1EAFA;
  --dark-grey: #4B4256;
  --vite-purple: #646cffaa;
}

body {
  background-color: #F1EAFA;
}

.waves {
  aspect-ratio: 960/540;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 {
  background-image: url('/960x540.svg');
  position: absolute;
  bottom: 0px;
  z-index: -1;
}

@media (max-width: 800px) {
  .waves {
    aspect-ratio: 900/675;
  }

  .layer1 {
    background-image: url('/900x675.svg');
  }
}

@media (max-width: 450px) {
  .waves {
    aspect-ratio: 675/900;
  }

  .layer1 {
    background-image: url('/675x900.svg');
  }
}

h1 {
  font-family: var(--headers-font);
  color: var(--semi-dark-purp);
}

p, button, a {
  font-family: var(--text-font);
  font-weight: bold;
  font-size: 1.03rem;
}

p {
  text-align: center;
}

button {
  background-color: var(--mid-purp);
  padding: 12.5px;
  border-radius: 20px;
  border: none;
  margin: 5px;
  margin-bottom: 20px;
  cursor: pointer;
  color: var(--semi-dark-purp);
}





/* HOMEPAGE */
.homeContentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.homeContentContainer h1 {
  margin-top: 200px;
  margin-bottom: 10px;
  font-size: 45px;
}

.homeContentContainer button {
  margin-bottom: 5px;
}




.formTemplate {
  margin: 20px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(57, 5, 72, 0.2), 0 6px 20px 0 rgba(55, 2, 61, 0.19);
  width: 320px;
  height: 400px;
  padding: 15px;
  border-radius: 25px;
}

.formTemplate form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px
}

.formTemplate input {
  background-color: white;
  width: 240px;
  height: 25px;
  font-size: 1.03rem;
  border-radius: 10px;
  padding: 2px;
  border-style: solid;
  text-align: center;
  border-color: var(--grey-purp);
  caret-color: var(--semi-dark-purp);
  color: var(--semi-dark-purp);
  user-select: none;
}

.formTemplate :focus {
  outline: 1px solid var(--semi-dark-purp);
}

input[type='password'] {
  font-family: Verdana;
  letter-spacing: 0.125em;
}

.formTemplate label, .formTemplate input {
  font-family: var(--text-font);
  color: var(--semi-dark-purp);
  font-size: 1.2rem;
}

.formTemplate textarea {
  resize: none;
  height: 150px;
  width: 295px;

  font-family: var(--text-font);
  color: var(--semi-dark-purp);
  font-size: 1.1rem;
  border-color: bold var(--grey-purp);
  caret-color: var(--semi-dark-purp);
  border-radius: 7px;
}

.formTemplate p {
  color: var(--nice-purp);
}

.formTemplate a {
  color: var(--dark-purp);
}

.formTemplate input:focus {
  outline: none;
}

.formTemplate h1 {
  margin-bottom: 16px;
}

.formTemplate button {
  background-color: var(--semi-dark-purp);
  color: white;
}







/* ==== COMPONENTS ==== */
/* ================================================================ */


/* MODAL COMPONENT */

.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(45, 30, 74, .7);
  z-index: 2;
}

.modalContentContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
}

.modalCloseButton {
  z-index: 6;
  padding: 2px;
  font-size: 40px;
  position: fixed;
  top: -1%;
  right: 2%;
  cursor: pointer;
  color: var(--dark-purp);
}

/* ================================================================ */
/* LOADER COMPONENT */

.loader {
  position: relative;
  width: 40px;
  height: 40px;
}

.loader div {
  position: absolute;
  border: 4px solid white;
  border-radius: 50%;
  animation: ripple 1s ease-out infinite;
}

.loader div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes ripple {
  0% {
    top: 20px;
    left: 20px;
    width: 0;
    height: 0px;
    opacity: 1;
  }

  100% {
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    opacity: 0;
  }

}

/* ================================================================ */
/* FEED COMPONENT */

.feedPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.feedContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 450px;
}

/* FEED NAVBAR COMPONENT */

.feedNavBar {
  width: 100vw;
  height: 125px;
  background-image: linear-gradient(to right, rgb(70, 47, 99, 0.9), rgb(214, 186, 248, 0.8));
  position: sticky;
  top: 0;

  z-index: 1;
}

.feedNavBar h1 {
  color: var(--mid-purp);
  position: absolute;
  top: 42px;
  left: 130px
}

.navbarProfilePicture {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: absolute;
  top: 13px;
  right: 20px;
  cursor: pointer;
}

.feedNavBar button {
  position: absolute;
  /* right: 20px;
  top: 130px; */
  /* background-image: linear-gradient(to right, rgb(70, 47, 99), rgb(214, 186, 248)); */
  /* background-color: var(--semi-dark-purp); */
  left: 10px;
  top: 10px;
  background-color: var(--mid-purp);
}

.feedNavBar button:hover  {
  filter: drop-shadow(0 0 2em var(--grey-purp));
}

/* CREATE POST BUTTON COMPONENT */
.createPostBtnImg {
  height: 60px;
  width: 75px;
}


/* === POST COMPONENT ==== */

/* Post container */
.postContainer {
  margin-bottom: 20px;
  background-color: white;
  position: relative;
  z-index: 0;
}

.postContainer:first-child {
  margin-top: 15px;
}

/* Post Header */
.postHeaderContainer {
  display: flex;
  align-items: center;
  width: 100%;
}

.postHeaderContainer .profilePicture {
  height: 50px;
  width: 50px;
  margin: 7px;
  border-radius: 50%;
  cursor: pointer;
}

.postHeaderContainer .postUsername {
  text-decoration: underline;
  cursor: pointer;
  font-size: 22px;
  color: var(--semi-dark-purp);
  margin-right: 200px;

  position: absolute;
  left: 65px;
  top: 16px;
}

.postHeaderContainer .postUsername:hover {
 color: var(--nice-purp);
}

.postHeaderContainer .postDate {
  font-size: 15px;
  margin-right: 10px;
  color: var(--semi-dark-purp);

  margin-left: auto;
}

/*  Post img */
.postImgContainer {
  height: 550px;
  width: 430px;
}

.feedContainer img {
  height: 98%;
  width: 98%;
  object-fit: cover;
  margin-top: 3px;
  margin-bottom: 3px;
}

/* Post footer */
.postFooterContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.postFooterContainer p, a {
  margin-left: 10px;
}

.postLikeCount {
  font-size: 19px;
  color: var(--nice-purp);
}

.postUsernameLink {
  font-size: 21px;
  cursor: pointer;
  color: var(--semi-dark-purp);
}

.postUsernameLink:hover {
  color: var(--nice-purp);
  text-decoration: underline;
}

.postFooterContainer .postLine {
  width: 98%;
  height: 1px;
  background-image: linear-gradient(to right, rgba(70, 47, 99, 0.9), rgba(214, 186, 248, 0.9));
  align-self: center;
  margin-top: 2px;
}

.postCaption {
  color: var(--semi-dark-purp);
  margin-bottom: 5px;
  margin-top: 5px;
  max-width: 410px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.heartIcon {
  height: 60px;
  width: 45px;
  cursor: pointer;
  color: var(--semi-dark-purp);
  position: absolute;
  bottom: 42px;
  right: 18px
}



/* ================================================================ */

/* CREATE POST FORM */

input::file-selector-button {
  color: white;
  background-color: var(--semi-dark-purp);
  border: none;
  padding: 10px;
  border-radius: 7px;
  cursor: pointer;
  margin-right: 15px;
}

/* OPEN MODAL BUTTON */ 

.openModalButton {
  will-change: filter;
  transition: filter 300ms;
}

.openModalButton:hover {
  filter: drop-shadow(0 0 2em #6e16d9);
}

/* DISABLED BUTTON */
.disabledButton {
  background-color: var(--dark-purp);
  cursor: not-allowed; 
  pointer-events: none; 
}









/* ======================= USER PAGE ============================ */
/* USER PAGE HEADER */

.userHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-image: linear-gradient(to left, rgb(70, 47, 99, 0.9), rgb(214, 186, 248, 0.8));
  position: absolute;
  top: 0px;
  width: 100vw;
  height: 280px
}

.leftSide {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  margin-left: 30px;
  margin-top: 15px;
  position: relative;
}

.leftSide img {
  border-radius: 50%;
  height: 250px;
  width: 250px;
}

.leftSide button {
  position: absolute;
  right: 0;
  bottom: -15px;
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.updateProfilePictureBtn {
  padding: 0px;
  height: 40px;
  width: 40px;
}

.middle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 700px;

  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.middleMiddle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 50px;
  margin-top: 10px;
}

.posts, .followers, .following {
  border: 2px solid #462f63;
  border-radius: 7px;
  padding: 5px;
}

.followers:hover, .following:hover {
  background-color: var(--mid-purp);
  cursor: pointer;
  opacity: 0.7;
}

.middleMiddle p {
  color: var(--semi-dark-purp);
  font-size: 20px;
}

.middleTop h1 {
  font-size: 45px;
  margin-bottom: 10px;
}

.rightSide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  background-color: red;
}

.rightSide button {
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* USER PAGE GALLERY */
.userPageGallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
  top: 345px;
  padding-bottom: 40px;
}

.galleryPostContainer {
  position: relative;
  height: 300px;
  width: 300px;
  margin: 5px;
  background-color: var(--mid-purp);
  cursor: pointer;
}

.galleryPostContainer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-position: center;
}

.galleryIconsContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgba(214, 186, 248, 0.4);
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  transition: opacity 0.3s ease;
}

.galleryPostContainer:hover .galleryIconsContainer {
  opacity: 1;
}

.galleryLikesContainer {
  margin-right: 10px;
}

.galleryCommentsContainer {
  margin-left:10px
}

.galleryLikesContainer p, .galleryCommentsContainer p {
  color: var(--semi-dark-purp);
  font-size: 25px;
}

.galleryIcon {
  color: var(--semi-dark-purp);
  height: 35px;
  width: 35px;
  margin-bottom: 2px;
}





/* ==============================  PAGES  =============================== */
/* Not Found Page (404) */

.notFoundPageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.iconContainer {
  height: 200px;
  width: 175px;
  margin-right: 30px;
}

.ghostIcon {
  height: 100%;
  width: 100%;
  color: var(--semi-dark-purp);
}

.notFoundContentContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 200px
}

.notFoundLine {
  width: 3px;
  height: 50vh;
  background-image: linear-gradient(to bottom, rgba(70, 47, 99, 0.9), rgba(214, 186, 248, 0.9));
  margin-right: 30px;
}

.notFoundContentContainer h1 {
  font-size: 65px;
}

.notFoundContentContainer p {
  margin-left: 5px;
  color: var(--nice-purp);
  font-size: 20px;
}

.notFoundContentContainer a {
  margin-left: 5px;
  font-size: 17px;
  color: var(--nice-purp);
}

.notFoundContentContainer a:visited {
  margin-left: 5px;
  color: var(--dark-purp);
  font-size: 17px;
}

@media(max-width: 800px) {
  .iconContainer {
    height: 175px;
    width: 150px;
  }

  .notFoundContentContainer h1 {
    font-size: 60px;
  }

  .notFoundContentContainer p {
    font-size: 20px;
  }
}

@media(max-width: 450px) {

  .notFoundPageContainer {
    flex-direction: column;
  }

  .notFoundContentContainer {
    align-items: center;
  }

  .iconContainer {
    height: 140px;
    width: 125px;
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .notFoundLine {
    width: 85vw;
    height: 3px;
    background-image: linear-gradient(to right, rgba(70, 47, 99, 0.9), rgba(214, 186, 248, 0.9));
    align-self: center;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .notFoundContentContainer h1 {
    font-size: 50px;
    margin-bottom: 3px;
  }

  .notFoundContentContainer p {
    font-size: 19px;
  }
}



/* Private Page (Not logged in) */

.privatePageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.privateIconContainer {
  height: 300px;
  width: 250px;
}

.lockedIcon {
  height: 100%;
  width: 100%;
  color: var(--semi-dark-purp);
}

.privateContentContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 400px;
}

.privateContentContainer h1 {
  font-size: 40px;
}

.privateContentContainer p {
  margin-left: 5px;
  color: var(--nice-purp);
  font-size: 18px;
}

.privateContentContainer button {
  margin: 0px;
  margin-left: 5px;
  background: none;
  border: none;
  padding: 0px;
  text-decoration: underline;
}

@media(max-width: 800px) {
  .privateIconContainer {
    height: 225px;
    width: 200px;
  }

  .privateContentContainer h1 {
    font-size: 38px;
  }

  .privateContentContainer p {
    font-size: 17px;
  }
}

@media(max-width: 440px) {
  .privatePageContainer {
    flex-direction: column;
  }

  .privateContentContainer {
    margin-top: 15px;
    align-items: center;
  }

 .privateIconContainer {
    height: 175px;
    width: 150px;
  }

  .privateContentContainer h1 {
    font-size: 35px;
  }

  .privateContentContainer p {
    font-size: 18px;
  }
}









/*  User Page Modal Component  */

.selectedPostModal {
  position: relative;
  height: 600px;
  width: 800px;
  background-color: red;
}

.selectedPostImageContainer {
  height: 100%;
  width: 60%;
  position: absolute;
  left: 0;
}

.selectedPostImageContainer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.selectedPostcontentContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: absolute;
  right: 0;
  background-color: green;
  height: 100%;
  width: 40%;
}

.selectedPostcontentContainer p {
  margin-left: 10px;
}

.selectedPostHeader {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-bottom: 10px;
}

.selectedPostHeader .bin {
  margin-top: 7px;
  margin-right: 7px;
  height: 30px;
  width: 30px;
  color: var(--semi-dark-purp);
  background-color: #d6baf8;
  border-radius: 100%;
  padding: 5px;
  cursor: pointer;
}

.selectedPostHeader p {
  margin-left: 10px;
  margin-top: 10px;
  font-size: 22px;
  text-decoration: underline;
  color: var(--semi-dark-purp);
  position: absolute;
  left: 0px;
}

.selectedPostLine {
  width: 98%;
  height: 1px;
  background-image: linear-gradient(to right, rgba(70, 47, 99, 0.9), rgba(214, 186, 248, 0.9));
  align-self: center;
  margin-top: 2px;
}

.commentsContainer {
  margin-top: 5px;
  background-color: pink;
  height: 450px;
  width: 100%;
}

.commentButton {
  position: absolute;
  bottom: 0;
  margin: 0px;
}



/*  On DELETE of a POST */
.deletePostContent {
  height: 600px;
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}








/*  Settings List Component */

.settingsList {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.settingsList p {
  font-size: 25px;
  color: var(--semi-dark-purp);
}

.settingsFirstDiv {
  margin-top: 30px;
}

.settingsList p:hover {
  color: var(--mid-purp);
  cursor: pointer;
}

.line {
  height: 2px;
  width: 95%;
  background-image: linear-gradient(to right, rgba(70, 47, 99, 0.8), rgba(214, 186, 248, 0.8));
}

.settingsList button {
  margin-top: 20px;
}

.settingsList button:hover {
  color: var(--semi-dark-purp);
  background-color: var(--mid-purp);
}





/*  Styles for logout button if return to button over anchor */

/* .feedNavBar button {
  position: absolute;
  right: 30px;
  top: 30px;
  background-color: var(--semi-dark-purp);
  color: var(--mid-purp);
}

.feedNavBar button:hover {
  background-color: var(--mid-purp);
  color: var(--semi-dark-purp);
} */